/* FONT-poppins */
body {
    font-family: 'poppins',sans-serif;  
}

/*HOME SECTION*/
.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/college-bg.jpg");
    background-size: cover;
    background-position: center;
}
.home h1{
    letter-spacing:1px;
}
.home p{
    max-width: 650px;
    margin: auto;
}


/*Events Section*/
.events h2{
    letter-spacing: 1px;
}
.card img {
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
}
.card {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.8);
    transition: all 0.3s ease;
}
.card-body{
    padding: 1.5rem;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);   ;
}
.btn-danger:hover {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}
.btn-outline-danger{
    border-radius: 50px;
}
